.main {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .main h3, h2 {
    text-align: center;
    color: #333;
  }
  
  .main a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: #4caf50;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .main a:hover {
    background-color: #45a049;
  }