
img {
  width: 150px;
  height: 150px;
  position: relative;
}
* {
  font-family: monospace;
  box-sizing: border-box;
}
body{
  color: white;
  background-color: black;
  font-size: larger;
}
img{
  border-style: solid;
  border-radius: 50%;
  border-width: 10px;
  border-color: gray;
  border-top-right-radius: 0dvi;
}
h2 {
  color: wheat;
  font-size: 2rem;
  margin-left: 30px;
}
h3 {
  color: wheat;
  font-size: 1.5rem;
}
#links{
  color: hotpink;
}
.container {
  border: 4px solid wheat;
  margin: 1.5em;
  margin-left: 1em;
  padding: 1.5em;
  outline: 3.5px solid hotpink;
  padding-left: 3.5em;
  width: 600px;
border-right: 4px dotted black;
border-left: 4px dotted black;
}
hr {
  border-style: dashed;
  border-width: 15%;
  border-color: wheat;
}
p span{
  background-color:hotpink;
}
